body{
    background-color: peru;
}


#text{   

 font-style: italic;  
 text-align: center;
  color: white;
  font-size:x-large;
}

#time{
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
.Image{
    
    border-radius: 10%;
}

#h3{
    color:black;
}

.container{
    color: white;
    display: flex;
    justify-content: space-between;
}



